In [154]:
import numpy as np 
import pandas as pd

In [155]:
data = pd.read_csv("yellow_tripdata_2019-02.csv")
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,01/02/2019 00:59,01/02/2019 01:07,1,2.1,1,N,48,234,1,9.0,0.5,0.5,2.00,0.0,0.3,12.30,0.0
1,1,01/02/2019 00:33,01/02/2019 01:03,1,9.8,1,N,230,93,2,32.0,0.5,0.5,0.00,0.0,0.3,33.30,0.0
2,1,01/02/2019 00:09,01/02/2019 00:09,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,0.0
3,1,01/02/2019 00:45,01/02/2019 00:51,1,0.8,1,N,95,95,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80,0.0
4,1,01/02/2019 00:25,01/02/2019 00:28,1,0.8,1,N,140,263,2,5.0,0.5,0.5,0.00,0.0,0.3,6.30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1,05/02/2019 08:28,05/02/2019 08:48,1,2.3,1,N,249,170,1,14.0,2.5,0.5,2.00,0.0,0.3,19.30,2.5
1048571,1,05/02/2019 08:50,05/02/2019 09:02,1,1.4,1,N,161,234,1,9.5,2.5,0.5,2.00,0.0,0.3,14.80,2.5
1048572,1,05/02/2019 08:00,05/02/2019 08:14,1,1.7,1,N,141,163,2,10.5,2.5,0.5,0.00,0.0,0.3,13.80,2.5
1048573,1,05/02/2019 08:20,05/02/2019 08:28,1,0.8,1,N,230,161,1,7.0,2.5,0.5,1.55,0.0,0.3,11.85,2.5
1048574,1,05/02/2019 08:34,05/02/2019 08:39,1,0.8,1,N,164,234,1,5.5,2.5,0.5,2.60,0.0,0.3,11.40,2.5

In [156]:
def compute_trip_duration(data):
    """
    Takes a data frame and adds a new column for trip duration, calculated as the difference between the 
    tpep_pickup_datetime and tpep_dropoff_datetime columns. 
    Returns the modified data frame.
    """
    # Convert the pickup_datetime and dropoff_datetime columns to datetime objects
    data['tpep_pickup_datetime'] = pd.to_datetime(data['tpep_pickup_datetime'])
    data['tpep_dropoff_datetime'] = pd.to_datetime(data['tpep_dropoff_datetime'])
    
    # Calculate the trip duration as the difference between the pickup and dropoff datetimes
    data['trip_duration'] = data['tpep_dropoff_datetime'] - data['tpep_pickup_datetime']
    return df

In [157]:
compute_trip_duration(data)
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration
0,1,2019-01-02 00:59:00,2019-01-02 01:07:00,1,2.1,1,N,48,234,1,9.0,0.5,0.5,2.00,0.0,0.3,12.30,0.0,0 days 00:08:00
1,1,2019-01-02 00:33:00,2019-01-02 01:03:00,1,9.8,1,N,230,93,2,32.0,0.5,0.5,0.00,0.0,0.3,33.30,0.0,0 days 00:30:00
2,1,2019-01-02 00:09:00,2019-01-02 00:09:00,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,0.0,0 days 00:00:00
3,1,2019-01-02 00:45:00,2019-01-02 00:51:00,1,0.8,1,N,95,95,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80,0.0,0 days 00:06:00
4,1,2019-01-02 00:25:00,2019-01-02 00:28:00,1,0.8,1,N,140,263,2,5.0,0.5,0.5,0.00,0.0,0.3,6.30,0.0,0 days 00:03:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1,2019-05-02 08:28:00,2019-05-02 08:48:00,1,2.3,1,N,249,170,1,14.0,2.5,0.5,2.00,0.0,0.3,19.30,2.5,0 days 00:20:00
1048571,1,2019-05-02 08:50:00,2019-05-02 09:02:00,1,1.4,1,N,161,234,1,9.5,2.5,0.5,2.00,0.0,0.3,14.80,2.5,0 days 00:12:00
1048572,1,2019-05-02 08:00:00,2019-05-02 08:14:00,1,1.7,1,N,141,163,2,10.5,2.5,0.5,0.00,0.0,0.3,13.80,2.5,0 days 00:14:00
1048573,1,2019-05-02 08:20:00,2019-05-02 08:28:00,1,0.8,1,N,230,161,1,7.0,2.5,0.5,1.55,0.0,0.3,11.85,2.5,0 days 00:08:00
1048574,1,2019-05-02 08:34:00,2019-05-02 08:39:00,1,0.8,1,N,164,234,1,5.5,2.5,0.5,2.60,0.0,0.3,11.40,2.5,0 days 00:05:00

In [158]:
def add_hour_and_day_of_week(data):
    """
    adds new columns for the hour of the day and the day 
    of the week from the  pickup date time column.
    """
    # Convert the pickup_datetime column to a datetime object
    data['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    # Add new columns for the hour of the day and the day of the week
    data['hour_of_day'] = data['tpep_pickup_datetime'].dt.hour
    data['day_of_week'] = data['tpep_pickup_datetime'].dt.weekday
    return data

In [159]:
add_hour_and_day_of_week(data)
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration,hour_of_day,day_of_week
0,1,2019-01-02 00:59:00,2019-01-02 01:07:00,1,2.1,1,N,48,234,1,...,0.5,0.5,2.00,0.0,0.3,12.30,0.0,0 days 00:08:00,0,2
1,1,2019-01-02 00:33:00,2019-01-02 01:03:00,1,9.8,1,N,230,93,2,...,0.5,0.5,0.00,0.0,0.3,33.30,0.0,0 days 00:30:00,0,2
2,1,2019-01-02 00:09:00,2019-01-02 00:09:00,1,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,3.80,0.0,0 days 00:00:00,0,2
3,1,2019-01-02 00:45:00,2019-01-02 00:51:00,1,0.8,1,N,95,95,2,...,0.5,0.5,0.00,0.0,0.3,6.80,0.0,0 days 00:06:00,0,2
4,1,2019-01-02 00:25:00,2019-01-02 00:28:00,1,0.8,1,N,140,263,2,...,0.5,0.5,0.00,0.0,0.3,6.30,0.0,0 days 00:03:00,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1,2019-05-02 08:28:00,2019-05-02 08:48:00,1,2.3,1,N,249,170,1,...,2.5,0.5,2.00,0.0,0.3,19.30,2.5,0 days 00:20:00,8,3
1048571,1,2019-05-02 08:50:00,2019-05-02 09:02:00,1,1.4,1,N,161,234,1,...,2.5,0.5,2.00,0.0,0.3,14.80,2.5,0 days 00:12:00,8,3
1048572,1,2019-05-02 08:00:00,2019-05-02 08:14:00,1,1.7,1,N,141,163,2,...,2.5,0.5,0.00,0.0,0.3,13.80,2.5,0 days 00:14:00,8,3
1048573,1,2019-05-02 08:20:00,2019-05-02 08:28:00,1,0.8,1,N,230,161,1,...,2.5,0.5,1.55,0.0,0.3,11.85,2.5,0 days 00:08:00,8,3
1048574,1,2019-05-02 08:34:00,2019-05-02 08:39:00,1,0.8,1,N,164,234,1,...,2.5,0.5,2.60,0.0,0.3,11.40,2.5,0 days 00:05:00,8,3